* {
  box-sizing:border-box;
}
.box {
  position: relative;
  margin: 5px;
  padding: 5px;
}

.input {
  border-color: antiquewhite;
  padding: 8px;
  border-radius: 5px;
}

.label {
  background-color: white;
  color:black;
  font-size: 15px;
  position: absolute;
  left: 25px;
  padding: 2 2px;
  top:-10px;
}

body {
  margin:0;
  padding: 0;
  background-color: #efefef;
}

.page {
  display: grid;
  row-gap: 30px;
  column-gap: 30px;
  width: 100%;
  padding: 30px;
  margin: 0 auto;
  grid-template-areas::
    "order payment"
    "total total";
  grid-template-columns: 1fr 1fr;
}



